In [ ]:
# NIM/Nama  : 19623005/Carlo Angkisan
# Tanggal   : 9 November 2023
# Deskripsi : # 1. Menghitung dan menampilkan banyaknya data
              # 2. Menampilkan 10 data pertama
              # 3. Menampilkan data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60)
              # 4. Menghitung dan menampilkan banyaknya mahasiswa tiap fakultas
              # 5. Menampilkan nilai korelasi antara nilai fisika dan kimia dan menjelaskan jenis korelasi keduanya

In [ ]:
# Mengimport library yang dibutuhkan
import pandas as pd

# Membaca data
df = pd.read_csv('H05.csv')

In [2]:
# 1. Menghitung dan menampilkan banyaknya data
print(f"Banyak data adalah {len(df)} data.")

Banyak data adalah 5135 data.

In [3]:
# 2. Menampilkan 10 data pertama
print(df[:10])

                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
0            Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1                  Steven Margono    FMIPA      67.43      51.50      57.20
2                    Ryan Sentosa    SAPPK      90.62      37.38      40.73
3            Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4                Alvin Natawiguna     FTSL      65.45      57.67      56.39
5                   Sasti Safitri     FTSL      60.58      41.91      51.55
6             Dani Yulianto Putra     FTSL      51.67      35.05      48.69
7  Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
8             Ratna Siti Khodijah      FTI      73.06      59.16      59.48
9                    Gita Partiwi     FTSL      69.57      38.84      48.17

In [4]:
# 3. Menampilkan data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60)
print(df[49:60]) # index dimulai dari 0 yang berarti data ke-50 memiliki indeks 49

                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
49      Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
50      Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
51         Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
52          Erna Kristiawati      FTI      67.48      46.78      52.30
53                    Albert    SAPPK      70.27      50.10      54.01
54  M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
55      Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
56              Aisya Tamara     FITB      71.49      35.86      37.41
57        Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
58                Arif Saleh      FTI     100.00      59.79      55.33
59     Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

In [8]:
# 4. Menghitung dan menampilkan banyaknya mahasiswa tiap fakultas
print(df['fakultas'].value_counts())

fakultas
FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178
Name: count, dtype: int64

In [9]:
# 5. Menampilkan nilai korelasi antara nilai fisika dan kimia
print(f"Nilai korelasi antara nilai fisika dan kimia adalah {df['nilai_fis'].corr(df['nilai_kim'])}")

Nilai korelasi antara nilai fisika dan kimia adalah 0.7988187423880275

Penjelasan output 5:
Berdasarkan output dari program 5, nilai fisika dan kimia memiliki korelasi yang bernilai positif dan mendekati 1. Berdasarkan nilai korelasi tersebut, dapat disimpulkan bahwa nilai fisika dan kimia memiliki korelasi berbanding lurus, dimana semakin besar nilai fisika mahasiswa, maka semakin besar juga nilai kimia mahasiswa tersebut.